---
import SocialLinks from './SocialLinks.astro';

const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Kristin Ng. All rights reserved.
	<div class="social-links-wrapper">
		<SocialLinks />
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links-wrapper {
		margin-top: 1em;
	}
</style>
